

<form action="/items/create" method ="POST">
    <div>name</div>
    <div><input type="text" name="name" id="name"></div>
    <div>band</div>
    <div> <input type="text" name="band" id="band"></div>
    <button type="submit"> create item</button>


</form>

 